<section>
    <h3>Insert Data</h3>
    <form method="post" action="/users/index">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
        <label>Age</label>
        <input type="text" class="form-control" placeholder="Age" name="age">
        <label>Course</label>
        <input type="text" class="form-control" placeholder="Couse" name="course">
      	<button type="submit" class="button">Insert</button>
    </form>
</section>